# .NET
bin/
obj/
*.user
*.suo
.vs/
*.vspscc
*.vssscc

# Publish
publish/
[Pp]ublished/
*.publish.xml
*.publishproj

# Logs
*.log
logs/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.local

# User secrets (only when not using dotnet user-secrets)
secrets.json
