@page "/"
@namespace SecureShield.Web.Components.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SecureShield.Web.Components

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- Fonts: Poppins (headings) + Inter (body) + Noto Sans Bengali (Bangla) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&family=Noto+Sans+Bengali:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>

    <component type="typeof(App)" render-mode="Server" />

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/site.js"></script>

</body>
</html>
